<div class="container">
  <div class="card col-sm-5">
    <div class="card-header"><i class="fa fa-user-plus">S'enregistrer</i></div>
    <div class="card-body d-flex justify-content-center align-items-center h-100">
      <form class="row" method="post">
        <div class="col-md-12 mb-3">
          <label for="nomInput" class="form-label">Nom</label>
          <input name="nom" required type="text" class="form-control" [(ngModel)]="newUser.nom"
            placeholder="Entrer votre Nom">
        </div>
        <div class="col-md-12 mb-3">
          <label for="prenomInput" class="form-label">Prenom</label>
          <input name="prenom" required type="text" class="form-control" [(ngModel)]="newUser.prenom"
            placeholder="Entrer votre Prenom">
        </div>
        <div class="col-md-12 mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input name="email" required type="email" class="form-control" [(ngModel)]="newUser.email"
            placeholder="Entrer votre Email" (input)="userExists=false">
          <span *ngIf="userExists" class="text-danger">Cet utilisateur existe déjà.</span>
        </div>
        <div class="col-md-12 mb-3">
          <label for="passwordInput" class="form-label">Mot de passe</label>
          <input name="password" required type="password" class="form-control" [(ngModel)]="newUser.password"
            placeholder="Entrer votre Mot de passe">
        </div>
        <div class="col-md-12">
          <button (click)="submitForm()" [disabled]="isButtonDisabled()"
            class="btn btn-primary w-100">S'enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>