<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a *ngIf="logged" class="navbar-brand" href="#"><i class="fa fa-users">Angular Contacts App </i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" *ngIf="logged">
          <li class="fa fa-home"></li>Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add" *ngIf="logged">
          <li class="fa fa-plus" ></li>Ajouter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" *ngIf="!logged">
          <li class="fa fa-sign-in-alt"></li>Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth" *ngIf="!logged">
          <li class="fa fa-user-plus"></li>S'enregistrer</a>
          </li>
          <li class="nav-item">
            <a (click) = "signOut()" routerLink="login" class="nav-link" *ngIf="logged">
          <li class="fa fa-user-plus"></li>Se deconnecter</a>
          </li>
          <div style = "margin-top: 8px; margin-left: 200px;" *ngIf="logged">
          <p *ngIf="logged">Utilisateur: <strong>{{existingUser?.nom}} {{existingUser?.prenom}}</strong></p>
        </div>
        </ul>
        <form *ngIf="showNavBar" class="d-flex" role="search">
          <input name="search" class="form-control me-2" placeholder="Rechercher par nom" aria-label="Search"
            type="text" [(ngModel)]="searchTerm" (input)="findContacts()">
        </form>
      </div>
    </div>
  </nav>
  <div class="container fluid">
    <router-outlet (activate)="toggleNavBar($event)">
    </router-outlet>
  </div>
</body>

</html>